package main

import (
    "github.com/Speakerkfm/iso/pkg/models"

    {{ range $i := .Imports }}
    {{ $i | printf "%s\n" }}
    {{ end }}
)

var ServiceProvider serviceProvider

type serviceProvider struct{}

func (sp serviceProvider) GetList() []*models.ProtoService {
    return []*models.ProtoService{
        {{ range $svc := .ProtoServices }}
        {
            Name: "{{ $svc.Name }}",
            Methods: []models.ProtoMethod{
                {{ range $method := $svc.Methods }}
                {
                    Name:           "{{ $method.Name }}",
                    RequestStruct:  &{{ $svc.PkgName }}.{{ $method.RequestType }}{},
                    ResponseStruct: &{{ $svc.PkgName }}.{{ $method.ResponseType }}{},
                },
                {{ end }}
            },
            ProtoPath: "{{ $svc.ProtoPath }}",
        },
        {{ end }}
    }
}